<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.demo.dao.UserDAOInterface">
		<resultMap type="User" id="UserResult" >
			<id property="id" column="id" />
			<result property="name" column="name" />
			<result property="password" column="password" />
			<result property="phone" column="phone" />
			<result property="money" column="money" />
			<result property="avatar" column="avatar" />
			<result property="regTime" column="regTime" />
			<result property="role" column="role" />
		</resultMap>
		<insert id="addUser" parameterType="User">
			insert into users values(#{id}, #{name}, #{password}, #{phone}, #{money}, #{avatar,jdbcType=VARCHAR}, #{regTime}, #{role})
		</insert>
	</mapper>